body {
    font: 20px  'IM Fell Double Pica', serif;
    line-height: 1.8;
    color: #474e5d;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #c0b48c; /* Tan #c0b58c*/
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bg-5 {
    background-color: #2c313a; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0px;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #5c4e3d;
}

.navbar-fixed-top .navbar-brand{
    font-family: 'IM Fell English SC', serif;
    font-size: 70px;
    color: #ecc113 !important;
}
.navbar-fixed-top .navbar-brand:hover {
    opacity: 0.75;
}

.navbar-fixed-top .navbar-nav > li > a {
    color: #ecc113 !important;
    font-size: 16px;
}

.navbar-fixed-top .navbar-nav > li > a:hover {
    opacity: 0.75;
}

.login-box{
    background: #2c313a;
    border:2px solid #2c313a;
    box-shadow:0 0 10px #2c313a;
    padding-bottom: 20px;
}

.login-box h3{
    margin-bottom: 30px;
}

.login-box p{
    margin-top: 10px;
}

input[type="checkbox"] {
}

.checkbox {
    margin: 1px 0 0 0;
    font-size: 15px;
}

.login-button {
    background-color:  #474e5d; /* Dark Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-button:hover {
    background: #3071A9
}

.create-button {
    background-color:  #474e5d; /* Dark Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.create-button:hover{
    background: #3071A9
}

.lobby-box{
    background: #2c313a;
    border:2px solid #2c313a;
    box-shadow:0 0 10px #2c313a;
    padding-bottom: 20px;
    margin-left: 0px;

}

.lobby-box h1{
    color: white;
    margin-bottom: 40px;
}

.player-box{
    background: #2c313a;
    border:2px solid #2c313a;
    box-shadow:0 0 10px #2c313a;
    padding-bottom: 20px;
    margin-left: 0px;

}

.player-box h1{
    color: white;
    margin-bottom: 40px;
}

.room-btn {
    background-color: lightseagreen;
    border: groove #2c313a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 900px;
}

.room-btn:hover {
    background: #3071A9
}

.player-btn {
    background-color: lightseagreen;
    border: groove #2c313a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 400px;
}

.player-btn:hover {
    background: #3071A9
}

.scroll {
    background-color: black;
    height: 400px;
    overflow: scroll;
}

.margin{
    font-size: 50px;
    color: #5c4e3d;
    font-family: 'IM Fell English SC', serif;
}

/*dices start*/
.die1{
    float: left;
    background: darkred;
    border-radius: 25px;
    border: #474e5d 1px solid;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: gold;
    margin: 5px;
}

.die2{
    float: left;
    background: gold;
    border-radius: 25px;
    border: #474e5d 1px solid;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: darkred;
    margin: 5px;
}

.eventDie{
    float: left;
    background: ghostwhite;
    border-radius: 25px;
    border: #474e5d 1px solid;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 5px;
}
/*dices end*/

.dropdown {
    position: fixed;
}

/*turn button start*/
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.hvr-pulse-grow {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    background-color: lightcoral;
    border: groove #2c313a;
    color: white;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    position: fixed;
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background: lightseagreen;
}
/*turn button end*/

/*player turn start*/
@-webkit-keyframes turnWabble {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes turnWabble {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.turnWabble {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    background-color: lightcoral;
    border: groove #2c313a;
    color: white;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.turnWabble:focus, .turnWabble:enabled {
    position: fixed;
    -webkit-animation-name: turnWabble;
    animation-name: turnWabble;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background: lightseagreen;
}
/*player turn end*/

/*RollDice start*/
.btn-3d {
    width: 100px;
    height: 50px;
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding: 0%;
    color: white;
    margin-left: 46.6%;
    margin-top: 0%;
    border-radius: 6px;
    border-color: #e74c3c;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.red:hover {
    background-color: #e74c3c;
}

.btn-3d:active {
    top: 9px;
}

/* 3D button colors */
.btn-3d.red {
    background-color: #e74c3c;
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 #C24032,
    0 8px 0 1px rgba(0,0,0,0.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.red:active {
    box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}
/*RollDice end*/

.about_us p{
    font-size: 30px;
}
.about_us .row{
    margin: 0px 200px 0px 200px;
}

svg{
    display: block;
    margin: auto;
}
