<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danklers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|IM+Fell+Double+Pica|IM+Fell+English+SC|Quintessential" rel="stylesheet"/>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<script th:inline="javascript">

    /*<![CDATA[*/


    var myUsername = /*[[${username}]]*/ 'User Name';
    var startingPlayer = /*[[${startingPlayer}]]*/ 'Starting Player';
    var myColor = /*[[${myColor}]]*/ 'My Color';

    var p1name = /*[[${player1}]]*/ 'p1 name';
    var p2name = /*[[${player2}]]*/ 'p2 name';
    //var p3name = /*[[${player3}]]*/ 'p3 name';
    // var p4name = /*[[${player4}]]*/ 'p4 name';

    var p1color = /*[[${player1_c}]]*/ 'p1 color';
    var p2color = /*[[${player2_c}]]*/ 'p2 color';
    //var p3name = /*[[${player3_c}]]*/ 'p3 color';
    //var p4name = /*[[${player4_c}]]*/ 'p4 color';



    /*]]>*/
</script>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Lords of Catan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the quit game modal with a button -->
                <li><a href="#" data-toggle="modal" data-target="#myModal1" style="font-size: 25px;">Quit Game</a></li>
                <!-- Trigger the save game modal with a button -->
                <li><a href="#" data-toggle="modal" data-target="#myModal5" style="font-size: 25px;">Save Game</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-5" style="padding-top: 7%; padding-bottom: 0%;">
    <!--PLAYER 2-->
    <div class="dropdown col-sm-4" style="top:15%; left:76%">
        <button id="player2" class="btn btn-primary turnWabble" type="button" data-toggle="dropdown" style="width: 20%; top: 13%;"></button>
    </div>

    <!--PLAYER 1-->
    <div class="dropdown col-sm-6">
        <button id="player1box"  class="btn btn-primary dropdown-toggle turnWabble" type="button" data-toggle="dropdown" onclick="setAttributes()" style="width: 20%;">
            <!--/*@thymesVar id="username" type=""*/-->
            <span th:text="${username}"></span>
            <span class="caret"></span></button>
        <ul class="dropdown-menu" style="margin-left: 1.5%; margin-top: 8%; width: 41%;">
            <!--Place road, settlement, city
            <button id="pRoad" onClick="placeRoad()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pShip" onClick="placeShip()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pSettlement" onClick="placeSettlement()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pCity" onClick="placeCity()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
-->
            <!-- Trigger the Resource Cards modal with a button -->
            <button id="resourceCard" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal2"></button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button id="commodityCard" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal3"></button>
            <!-- Trigger the Knights modal with a button -->
            <button id="totalKnight" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal4"></button>
            <!-- Trigger the Maritime Trade modal with a button -->
            <button id="maritimeTrade" type="button" onclick="setPreResult()" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal6"></button>

            <button id="road" onClick="buildRoad()" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="ship" onClick="buildShip()" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="settlement" onClick="buildSettlement()" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="city" onClick="buildCity()" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="wall" onClick="buildWall()" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="gold" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="victoryPt" type="button" class="btn btn-primary" style="padding-top: 0%; font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
        </ul>
    </div>

    <!--DICE-->
        <img src="/images/preRed.png" id="die1" class="die1" style="margin-left: 555px; display: inline" width="100" height="100"/>
        <img src="/images/preYellow.png" id="die2" class="die2" style=" display: inline" width="100" height="100"/>
        <img src="/images/preWhite.png" id="eventDie" class="eventDie" style="display: inline" width="100" height="100"/>
        <button class="btn-3d red" style="margin-left: 46.5%" onclick="rollDice()" id="rolldice">Roll Dice</button>
        <h2 id="status" style="margin-left: 44.5%;"></h2>

    <!--No resources message-->
    <button class="alert alert-warning alert-dismissable" type="button" id="noResources" onClick="this.disabled=true;" style="width: 330px; margin-left: 550px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>You do not have enough resources.</strong>
    </button>
    <div>
        <svg id="svgcanvas" width="1200" height="700"></svg>

    </div>
</div>

<div class="container-fluid bg-5" style="width: 100%; height: 100px; padding: 0%;">
<!--PLAYER 3-->
    <div class="dropdown col-sm-4"  style="top:91%;">
        <button id="player3box" class="btn btn-primary turnWabble" type="button" data-toggle="dropdown" style="width: 20%;">Player 3</button>
    </div>

<!--PLAYER 4-->
    <div class="dropdown col-sm-4" style="top:91%; left:76%">
        <button id="player4box" class="btn btn-primary turnWabble" type="button" data-toggle="dropdown" style="width: 20%;">Player 4</button>
    </div>
</div>

<!--End Turn Button-->
<div><button type="button" onclick="enableBtn()" class="hvr-pulse-grow col-sm-4" id="endTurn" style="bottom: 10px;margin-left: 0px;height: 7%;padding:0%;left: 32%;">End Turn</button></div>



<!-- MODALS -->
<!-- Modal for Quit Game -->
<div class="modal" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Quit Game</h4>
            </div>
            <div class="modal-body" style="color: black">
                <p>Would you like to quit this game?</p>
            </div>
            <div class="modal-footer">
                <a href="http://localhost:8080/lobby" class="btn btn-primary">Quit</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Save Game -->
<div class="modal" id="myModal5" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Save Game</h4>
            </div>
            <div class="modal-body" style="color: black">
                <p>Would you like to save this game?</p>
                <p>Save game as:</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Enter the name of the saving game"/>
            </div>
            <div class="modal-footer">
                <a href="http://localhost:8080/lobby" class="btn btn-primary">Save</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Resource Cards -->
<div class="modal" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Resource Cards</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/ResourceCards.jpg" style="margin-left: 30px; display:inline" width="500" height="145"/>
                <p id="brick" style="margin-left: 75px;"></p>
                <p id="wood" style="margin-left: 175px; margin-top: -39px;"></p>
                <p id="ore" style="margin-left: 275px; margin-top: -39px;"></p>
                <p id="sheep" style="margin-left: 375px; margin-top: -39px;"></p>
                <p id="wheat" style="margin-left: 475px; margin-top: -39px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Commodity Cards -->
<div class="modal" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Commodity Cards</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/CommodityCards.jpg" style="margin-left: 100px; display:inline" width="371" height="183"/>
                <p id="coin" style="margin-left: 155px;"></p>
                <p id="cloth" style="margin-left: 280px; margin-top: -39px;"></p>
                <p id="book" style="margin-left: 405px; margin-top: -39px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Knights -->
<div class="modal" id="myModal4" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Knights</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/Knights.png" style="margin-left: 30px; margin-bottom: 10px; display: inline" width="499" height="151"/>
                <button id="knight1" onclick="getKnight1()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 55px; width: 100px; height: 40px;"></button>
                <p id="knight2" style="font-size: 20px; margin-left: 240px; margin-top: -40px; width: 100px; height: 40px;"></p>
                <p id="knight3" style="font-size: 20px; margin-left: 420px; margin-top: -50px; width: 100px; height: 40px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Maritime Trade -->
<div class="modal" id="myModal6" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Maritime Trade</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/ResourceCards.jpg" style="margin-left: 30px; margin-bottom: 10px; play:inline" width="500" height="145"/>
                <button id="tradeBrick" onclick="giveBrick()" type="button" class="btn btn-primary" style="padding: 0px; font-size: 20px; margin-left: 35px; width: 80px; height: 40px;"></button>
                <button id="tradeWood" onclick="giveWood()" ondblclick="getWood()" type="button" class="btn btn-primary" style="padding: 0px; font-size: 20px; margin-left: 20px; width: 80px; height: 40px;"></button>
                <button id="tradeOre" onclick="giveOre()" ondblclick="getOre()" type="button" class="btn btn-primary" style="padding: 0px; font-size: 20px; margin-left: 15px; width: 80px; height: 40px;"></button>
                <button id="tradeSheep" onclick="giveSheep()" ondblclick="getSheep()" type="button" class="btn btn-primary" style="padding: 0px; font-size: 20px; margin-left: 20px; width: 80px; height: 40px;"></button>
                <button id="tradeWheat" onclick="giveWheat()" ondblclick="getWheat()" type="button" class="btn btn-primary" style="padding: 0px; font-size: 20px; margin-left: 15px; width: 80px; height: 40px;"></button>
                <h2 id="tResult" style="margin-left: 35%;"></h2>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" onClick="trade()">Trade</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/gamelogic.js}"></script>
<!-- Creates a popup that asks user if he wishes to leave page.-->
<script language="JavaScript" type="text/javascript">
    //<![CDATA[
    window.onbeforeunload = function(){
        return 'Are you sure you want to leave?';
    };
    //]]>
</script>

</body>
</html>