<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Danklers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|IM+Fell+Double+Pica|IM+Fell+English+SC|Quintessential" rel="stylesheet"/>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<script>
    //Event die faces
    var eventFace1 = new Image();
    eventFace1.src = "/images/barbarianShip.png";
    var eventFace2 = new Image();
    eventFace2.src = "/images/barbarianShip.png";
    var eventFace3 = new Image();
    eventFace3.src = "/images/barbarianShip.png";
    var eventFace4 = new Image();
    eventFace4.src = "/images/eventGreen.png";
    var eventFace5 = new Image();
    eventFace5.src = "/images/eventYellow.png";
    var eventFace6 = new Image();
    eventFace6.src = "/images/eventBlue.png";

    //die1 faces
    var die1Face1 = new Image();
    die1Face1.src = "/images/Ydot1.png";
    var die1Face2 = new Image();
    die1Face2.src = "/images/Ydot2.png";
    var die1Face3 = new Image();
    die1Face3.src = "/images/Ydot3.png";
    var die1Face4 = new Image();
    die1Face4.src = "/images/Ydot4.png";
    var die1Face5 = new Image();
    die1Face5.src = "/images/Ydot5.png";
    var die1Face6 = new Image();
    die1Face6.src = "/images/Ydot6.png";

    //die2 faces
    var die2Face1 = new Image();
    die2Face1.src = "/images/Rdot1.png";
    var die2Face2 = new Image();
    die2Face2.src = "/images/Rdot2.png";
    var die2Face3 = new Image();
    die2Face3.src = "/images/Rdot3.png";
    var die2Face4 = new Image();
    die2Face4.src = "/images/Rdot4.png";
    var die2Face5 = new Image();
    die2Face5.src = "/images/Rdot5.png";
    var die2Face6 = new Image();
    die2Face6.src = "/images/Rdot6.png";

    //Attributes values
    var nRoad = 0;
    var nShip = 0;
    var nKnight1 = 0;
    var nKnight2 = 0;
    var nKnight3 = 0;
    var nTotalKnight = nKnight1 + nKnight2 + nKnight3;
    var nCity = 0;
    var nWall = 0;
    var nSettlement = 0;
    var nBrick = 0;
    var nWood = 0;
    var nOre = 0;
    var nSheep = 0;
    var nWheat = 0;
    var nResourceCard = nBrick + nWood + nOre + nSheep + nWheat;
    var nCoin = 0;
    var nCloth = 0;
    var nBook = 0;
    var nCommodityCard = nCoin + nCloth + nBook;
    var nVictoryPt = 0;
    var nGold = 0;
    var barbarianCount = 0;

    //Place road, ship, settlement, city
    var pRoad;
    var pSettlement;
    var pCity;

    //Attributes for id
    var road;
    var ship;
    var knight1;
    var knight2;
    var knight3;
    var totalKnight;
    var city;
    var wall;
    var settlement;
    var brick;
    var wood;
    var ore;
    var sheep;
    var wheat;
    var resourceCard;
    var coin;
    var cloth;
    var book;
    var commodityCard;
    var victoryPt;
    var gold;
    var barbarian;

    //Used to let the player know that they do not have enough resources
    var noResource;

    //Roll Dice
    function rollDice(){
        var status = document.getElementById("status");
        var d1 = Math.floor(Math.random() * 6) + 1;
        var d2 = Math.floor(Math.random() * 6) + 1;
        var d3 = Math.floor(Math.random() * 6) + 1;

        document.images["die1"].src = eval("die1Face" + d1 + ".src");
        document.images["die2"].src = eval("die2Face" + d2 + ".src");
        document.images["eventDie"].src = eval("eventFace" + d3 + ".src");

        //Increment barbarian count if event die is (1, 2, 3)
        if(d3 == 1 || d3 == 2 || d3 == 3) {
            barbarianCount += 1;
        }

        var diceTotal = d1 + d2;
        status.innerHTML = "You rolled " + diceTotal + ".";
        if(diceTotal == 7){
            status.innerHTML += " Robber!";
        }
    }

    //Used to enable rollDice button when end turn button is pressed
    function enableBtn() {
        document.getElementById('rolldice').disabled = false;
    }

    //Activated to show attributes when player button is clicked
    function setAttributes() {
        //Place road, ship, settlement, city
        pRoad = document.getElementById("pRoad");
        pSettlement = document.getElementById("pSettlement");
        pCity = document.getElementById("pCity");

        //Attribute id getters
        road = document.getElementById("road");
        ship = document.getElementById("ship");
        knight1 = document.getElementById("knight1");
        knight2 = document.getElementById("knight2");
        knight3 = document.getElementById("knight3");
        totalKnight = document.getElementById("totalKnight");
        city = document.getElementById("city");
        wall = document.getElementById("wall");
        settlement = document.getElementById("settlement");
        brick = document.getElementById("brick");
        wood = document.getElementById("wood");
        ore = document.getElementById("ore");
        sheep = document.getElementById("sheep");
        wheat = document.getElementById("wheat");
        resourceCard = document.getElementById("resourceCard");
        coin = document.getElementById("coin");
        cloth = document.getElementById("cloth");
        book = document.getElementById("book");
        commodityCard = document.getElementById("commodityCard");
        victoryPt = document.getElementById("victoryPt");
        gold = document.getElementById("gold");
        barbarian = document.getElementById("barbarian");

        //Place road, ship, settlement, city
        pRoad.innerHTML = "Roads " + nRoad;
        pSettlement.innerHTML = "Settlements " + nSettlement;
        pCity.innerHTML = "Cities " + nCity;

        //Set each attributes
        road.innerHTML = "Roads " + nRoad;
        ship.innerHTML = "Ships " + nShip;
        knight1.innerHTML = nKnight1;
        knight2.innerHTML = nKnight2;
        knight3.innerHTML = nKnight3;
        totalKnight.innerHTML = "Knights " + nTotalKnight;
        city.innerHTML = "Cities " + nCity;
        wall.innerHTML = "Walls " + nWall;
        settlement.innerHTML = "Settlements " + nSettlement;
        brick.innerHTML = nBrick;
        wood.innerHTML = nWood;
        ore.innerHTML = nOre;
        sheep.innerHTML = nSheep;
        wheat.innerHTML = nWheat;
        resourceCard.innerHTML = "Resource Cards " + nResourceCard;
        coin.innerHTML = nCoin;
        cloth.innerHTML = nCloth;
        book.innerHTML = nBook;
        commodityCard.innerHTML = "Commodity Cards " + nCommodityCard;
        victoryPt.innerHTML = "Victory Points " + nVictoryPt;
        gold.innerHTML = "Golds " + nGold;
    }

    //Build road
    function buildRoad() {
        if (nBrick > 0) {
            if (nWood > 0) {
                nBrick--;
                nWood--;
                nRoad++;
                road = document.getElementById("road");
                road.innerHTML = "Roads " + nRoad;
            } else {
                //Set no resource message to true
            }
        } else {
            //Set no resource message to true
        }
    }
    //Place road
    function placeRoad() {
        nRoad++;
        pRoad = document.getElementById("pRoad");
        pRoad.innerHTML = "Roads " + nRoad;
    }

    //Build settlement
    function buildSettlement() {
        if (nWood > 0) {
            if (nBrick > 0) {
                if (nSheep > 0) {
                    if (nWheat > 0) {
                        nWood--;
                        nBrick--;
                        nSheep--;
                        nWheat--;
                        nSettlement++;
                        settlement = document.getElementById("settlement");
                        settlement.innerHTML = "Settlements " + nSettlement;
                    } else {
                        //Set no resource message to true
                    }
                } else {
                    //Set no resource message to true
                }
            } else {
                //Set no resource message to true
            }
        } else {
            //Set no resource message to true
        }
    }
    //Place settlement
    function placeSettlement() {
        nSettlement++;
        pSettlement = document.getElementById("pSettlement");
        pSettlement.innerHTML = "Settlements " + nSettlement;
    }

    //Build city
    function buildCity() {
        if (nOre > 2) {
            if (nWheat > 1) {
                nOre -= 3;
                nWheat -= 2;
                nCity++;
                city = document.getElementById("city");
                city.innerHTML = "Cities " + nCity;
            } else {
                //Set no resource message to true
            }
        } else {
            //Set no resource message to true
        }
    }
    //Place city
    function placeCity() {
        nCity++;
        pCity = document.getElementById("pCity");
        pCity.innerHTML = "Cities " + nCity;
    }
</script>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Lords of Catan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the quit game modal with a button -->
                <li><a href="#" data-toggle="modal" data-target="#myModal1" style="font-size: 25px;">Quit Game</a></li>
                <!-- Trigger the save game modal with a button -->
                <li><a href="#" data-toggle="modal" data-target="#myModal5" style="font-size: 25px;">Save Game</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-5" style="padding-top: 100px; padding-bottom: 0px;">
    <!--PLAYER 2-->
    <div class="dropdown col-sm-6">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left: 1100px; width: 300px;">Player 2
            <span class="caret"></span></button>
        <ul class="dropdown-menu" style="top: 40px; margin-left: 1115px; width: 300px;">
            <!-- Trigger the Resource Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal2">Resource Cards</button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal3">Commodity Cards</button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal4">Knights</button>
            <li><a href="#">Roads <span class="badge" id="roads2" style="margin-left: 190px;">5</span></a></li>
            <li><a href="#">Settlements <span class="badge" id="settlements2" style="margin-left: 159px;">5</span></a></li>
            <li><a href="#">Cities <span class="badge" id="cities2" style="margin-left: 191px;">5</span></a></li>
        </ul>
    </div>

    <!--PLAYER 1-->
    <div class="dropdown col-sm-6">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" onclick="setAttributes()" style="margin-left: 5px; width: 300px;">Player 1
            <span class="caret"></span></button>
        <ul class="dropdown-menu" style="margin-left: 20px; width: 300px;">
            <!--Place road, settlement, city-->
            <button id="pRoad" onClick="placeRoad()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pSettlement" onClick="placeSettlement()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pCity" onClick="placeCity()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>

            <!-- Trigger the Resource Cards modal with a button -->
            <button id="resourceCard" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal2"></button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button id="commodityCard" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal3"></button>
            <!-- Trigger the Knights modal with a button -->
            <button id="totalKnight" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal4"></button>

            <button id="road" onClick="buildRoad()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="ship"  type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="settlement" onClick="buildSettlement()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="city" onClick="buildCity()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="wall"  type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="gold"  type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="victoryPt" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
        </ul>
    </div>

    <!--DICE-->
    <img src="/images/preRed.png" id="die1" class="die1" style="margin-left: 555px; display: inline" width="100" height="100"/>
    <img src="/images/preYellow.png" id="die2" class="die2" style=" display: inline" width="100" height="100"/>
    <img src="/images/preWhite.png" id="eventDie" class="eventDie" style="display: inline" width="100" height="100"/>
    <button class="btn-3d red" onclick="rollDice(); this.disabled=true;" id="rolldice">Roll Dice</button>
    <h2 id="status" style="margin-left: 640px;"></h2>

    <!--No resources message-->
    <div class="alert alert-warning" id="noResources" style="width: 300px; margin-left: 550px;">
        <strong>You do not have enough resources.</strong>
    </div>
</div>

<div class="container-fluid bg-5" style="height: 1000px;">
    <!--PLAYER 3-->
    <div class="dropdown col-sm-4" style="bottom: 10px;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left:5px; width: 300px;">Player 3
            <span class="caret"></span></button>
        <ul class="dropdown-menu" style="margin-left:20px; margin-top:-220px; width: 300px;">
            <!-- Trigger the Resource Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal2">Resource Cards</button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal3">Commodity Cards</button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal4">Knights</button>
            <li><a href="#">Roads <span class="badge" id="roads3" style="margin-left:190px;">5</span></a></li>
            <li><a href="#">Settlements <span class="badge" id="settlements3" style="margin-left:159px;">5</span></a></li>
            <li><a href="#">Cities <span class="badge" id="cities3" style="margin-left:191px;">5</span></a></li>
        </ul>
    </div>

    <!--End Turn Button-->
    <div><button type="button" onclick="enableBtn()" class="hvr-pulse-grow col-sm-4" id="endTurn" style="bottom: 10px; padding: 0px; left: 320px; margin-left: 160px;">End Turn</button></div>

    <!--PLAYER 4-->
    <div class="dropdown col-sm-4" style="left: 320px; margin-left: 690px; bottom: 10px;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left: 100px; width: 300px;">Player 4
         <span class="caret"></span></button>
        <ul class="dropdown-menu" style="width: 300px; margin-left: 115px; top: auto; bottom: 38px;">
            <!-- Trigger the Resource Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal2">Resource Cards</button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal3">Commodity Cards</button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal4">Knights</button>
            <li><a href="#">Roads <span class="badge" id="roads4" style="margin-left:190px;">5</span></a></li>
            <li><a href="#">Settlements <span class="badge" id="settlements4" style="margin-left:159px;">5</span></a></li>
            <li><a href="#">Cities <span class="badge" id="cities4" style="margin-left:191px;">5</span></a></li>
        </ul>
    </div>
</div>

<!-- MODALS -->
<!-- Modal for Quit Game -->
<div class="modal" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Quit Game</h4>
            </div>
            <div class="modal-body" style="color: black">
                <p>Would you like to quit this game?</p>
            </div>
            <div class="modal-footer">
                <a href="http://localhost:8080/lobby" class="btn btn-primary">Quit</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Save Game -->
<div class="modal" id="myModal5" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Save Game</h4>
            </div>
            <div class="modal-body" style="color: black">
                <p>Would you like to save this game?</p>
                <p>Save game as:</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Enter the name of the saving game"/>
            </div>
            <div class="modal-footer">
                <a href="http://localhost:8080/lobby" class="btn btn-primary">Save</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Resource Cards -->
<div class="modal" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Resource Cards</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/ResourceCards.jpg" style="margin-left: 30px; display:inline" width="500" height="145"/>
                <p id="brick" style="margin-left: 75px;">1</p>
                <p id="wood" style="margin-left: 175px; margin-top: -39px;"></p>
                <p id="ore" style="margin-left: 275px; margin-top: -39px;"></p>
                <p id="sheep" style="margin-left: 375px; margin-top: -39px;"></p>
                <p id="wheat" style="margin-left: 475px; margin-top: -39px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Commodity Cards -->
<div class="modal" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Commodity Cards</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/CommodityCards.jpg" style="margin-left: 100px; display:inline" width="371" height="183"/>
                <p id="coin" style="margin-left: 155px;"></p>
                <p id="cloth" style="margin-left: 280px; margin-top: -39px;"></p>
                <p id="book" style="margin-left: 405px; margin-top: -39px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Knights -->
<div class="modal" id="myModal4" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Knights</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/Knights.png" style="margin-left: 30px; display: inline" width="499" height="151"/>
                <p id="knight1" style="margin-left: 100px;"></p>
                <p id="knight2" style="margin-left: 280px; margin-top: -39px;"></p>
                <p id="knight3" style="margin-left: 455px; margin-top: -39px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>