<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danklers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|IM+Fell+Double+Pica|IM+Fell+English+SC|Quintessential" rel="stylesheet"/>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<script th:inline="javascript">

    /*<![CDATA[*/

    var myUsername = /*[[${username}]]*/ 'User Name';
    var startingPlayer = /*[[${startingPlayer}]]*/ 'Starting Player';

    /*]]>*/
</script>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Lords of Catan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!-- Trigger the quit game modal with a button -->
                <li><a href="#" data-toggle="modal" data-target="#myModal1" style="font-size: 25px;">Quit Game</a></li>
                <!-- Trigger the save game modal with a button -->
                <li><a href="#" data-toggle="modal" data-target="#myModal5" style="font-size: 25px;">Save Game</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-5" style="padding-top: 100px; padding-bottom: 0px;">


    <!--PLAYER 1-->
    <div class="dropdown col-sm-6">
        <button id="player" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" onclick="setAttributes()" style="margin-left: 5px; width: 300px;"><!--/*@thymesVar id="username" type=""*/-->
        <span th:text="${username}"></span>
            <span class="caret"></span></button>
        <ul class="dropdown-menu" style="margin-left: 20px; width: 300px;">
            <!--Place road, settlement, city-->
            <button id="pRoad" onClick="placeRoad()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pShip" onClick="placeShip()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pSettlement" onClick="placeSettlement()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="pCity" onClick="placeCity()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>

            <!-- Trigger the Resource Cards modal with a button -->
            <button id="resourceCard" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal2"></button>
            <!-- Trigger the Commodity Cards modal with a button -->
            <button id="commodityCard" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal3"></button>
            <!-- Trigger the Knights modal with a button -->
            <button id="totalKnight" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;" data-toggle="modal" data-target="#myModal4"></button>

            <button id="road" onClick="buildRoad()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="ship" onClick="buildShip()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="settlement" onClick="buildSettlement()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="city" onClick="buildCity()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="wall" onClick="buildWall()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="gold" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
            <button id="victoryPt" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 20px; width: 250px; height: 30px;"></button>
        </ul>
    </div>

    <!--DICE-->
    <img src="/images/preRed.png" id="die1" class="die1" style="margin-left: 555px; display: inline" width="100" height="100"/>
    <img src="/images/preYellow.png" id="die2" class="die2" style=" display: inline" width="100" height="100"/>
    <img src="/images/preWhite.png" id="eventDie" class="eventDie" style="display: inline" width="100" height="100"/>
    <button class="btn-3d red" onclick="rollDice()" id="rolldice">Roll Dice</button>
    <h2 id="status" style="margin-left: 640px;"></h2>

    <!--No resources message-->
    <div class="alert alert-warning alert-dismissable" id="noResources" style="width: 330px; margin-left: 550px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>You do not have enough resources.</strong>
    </div>
    <div>
        <input name="searchTxt" type="text" maxlength="512" id="searchTxt" class="searchField"/>

        <svg id="svgcanvas" width="1200" height="700"></svg>

        <div>
            <button type="button" class="btn btn-primary" id="b" onclick="init()">Draw Hexagon</button>
        </div>
    </div>
</div>

<div class="container-fluid bg-5" style="height: 1000px;">

    <!--End Turn Button-->
    <div><button type="button" onclick="endTurn()" class="hvr-pulse-grow col-sm-4" id="endTurn" style="bottom: 10px; padding: 0px; left: 320px; margin-left: 160px;">End Turn</button></div>


</div>

<!-- MODALS -->
<!-- Modal for Quit Game -->
<div class="modal" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Quit Game</h4>
            </div>
            <div class="modal-body" style="color: black">
                <p>Would you like to quit this game?</p>
            </div>
            <div class="modal-footer">
                <a href="http://localhost:8080/lobby" class="btn btn-primary">Quit</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Save Game -->
<div class="modal" id="myModal5" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Save Game</h4>
            </div>
            <div class="modal-body" style="color: black">
                <p>Would you like to save this game?</p>
                <p>Save game as:</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Enter the name of the saving game"/>
            </div>
            <div class="modal-footer">
                <a href="http://localhost:8080/lobby" class="btn btn-primary">Save</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Resource Cards -->
<div class="modal" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Resource Cards</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/ResourceCards.jpg" style="margin-left: 30px; display:inline" width="500" height="145"/>
                <p id="brick" style="margin-left: 75px;">1</p>
                <p id="wood" style="margin-left: 175px; margin-top: -39px;"></p>
                <p id="ore" style="margin-left: 275px; margin-top: -39px;"></p>
                <p id="sheep" style="margin-left: 375px; margin-top: -39px;"></p>
                <p id="wheat" style="margin-left: 475px; margin-top: -39px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Commodity Cards -->
<div class="modal" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Commodity Cards</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/CommodityCards.jpg" style="margin-left: 100px; display:inline" width="371" height="183"/>
                <p id="coin" style="margin-left: 155px;"></p>
                <p id="cloth" style="margin-left: 280px; margin-top: -39px;"></p>
                <p id="book" style="margin-left: 405px; margin-top: -39px;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Knights -->
<div class="modal" id="myModal4" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black">Knights</h4>
            </div>
            <div class="modal-body" style="color: black">
                <img src="/images/Knights.png" style="margin-left: 30px; display: inline" width="499" height="151"/>
                <button id="knight1" onclick="getKnight1()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 55px; width: 100px; height: 40px;"></button>
                <button id="knight2" onclick="getKnight2()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 70px; width: 100px; height: 40px;"></button>
                <button id="knight3" onclick="getKnight3()" type="button" class="btn btn-primary" style="font-size: 20px; margin-left: 70px; width: 100px; height: 40px;"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/gamelogic.js}"></script>


</body>
</html>