<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danklers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|IM+Fell+Double+Pica|IM+Fell+English+SC|Quintessential" rel="stylesheet"/>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Lords of Catan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}" >Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-5" style="margin: 0px; padding-bottom: 0px;">
    <!-- GAMEROOM -->
    <section class="gameroom">
        <div class="lobby-bar" style="border-right: 2px;">
        </div>
        <!-- ROOMS -->
        <section class="rooms">
            <div class="container-fluid bg-2 text-center" style="padding: 0px;">
                <div class="row">
                    <div class="player-box col-sm-4" style="padding: 0px; margin: 0px;">
                        <div class="panel-body text-center" style="height: 500px;">
                            <h1>Player List</h1>
                            <div class="scroll">
                                <form id="playerlist">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="player-box col-sm-8" style="padding: 0px; margin: 0px;">
                        <div class="panel-body text-center" style="height: 500px;">
                            <h1>Gameroom name</h1>
                            <table class="table table-striped">
                                <tbody id="connections">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

           <!-- <button id="connect" type="button" class="btn btn-primary" style="margin-top: 20px; font-size: 30px;">Ready</button>-->
            <button id="joingame" type="button" class="btn btn-primary" style="margin-top: 20px; font-size: 30px;">Join</button>


            <!-- Trigger the exit lobby modal with a button -->
            <button type="button" class="btn btn-primary" style="margin-top: 20px; font-size: 30px; margin-left: 1159px;" data-toggle="modal" data-target="#myModal">Exit</button>
            <!-- Modal -->
            <div class="modal" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color: black">Exit Gameroom</h4>
                        </div>
                        <div class="modal-body" style="color: black">
                            <p>Are you sure you want to exit the gameroom?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="http://localhost:8080/lobby" class="btn btn-primary">Exit</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>&copy; 2017 <a target="_blank" href="https://github.com/invalidsword/settlers">Lords of Catan</a> | All rights reserved
    </p>
</footer>

<script th:src="@{/js/gameConnect.js}"></script>

</body>
</html>