<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danklers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|IM+Fell+Double+Pica|IM+Fell+English+SC|Quintessential" rel="stylesheet"/>

</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Lords of Catan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">ABOUT US</a></li>
                <li><a th:href="@{/register}">JOIN</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- WELCOME -->
<section class="welcome">
    <div class="container-fluid bg-1 text-center" style="padding-top: 200px">
        <h3 class="margin">Play Settlers of Catan online!</h3>
        <img th:src="@{/images/bird.jpg}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350"/>
        <br/>
        <!--/*@thymesVar id="message" type=""*/-->
        <span th:text="'Message: ' + ${message}"></span>

        <h3>Coming soon.</h3>
    </div>
</section>

<!-- LOGIN -->
<section class="login">
    <div class="container-fluid bg-2 text-center">
        <div class="row">
            <div class="login-box col-xs-2 col-xs-offset-5">
                <div class="panel-body  text-center" >
                    <h3>LOGIN</h3>
                    
                    <!--/*@thymesVar id="login" type="com.example.forms.Login"*/-->
                    <form action="#" th:action="@{/}" th:object="${login}" method="post">
                        <div class="form-group">
                            <input type="text" th:field="*{username}" class="form-control"  placeholder="Enter email"/>
                        </div>

                        <div class="form-group">
                            <input type="password" th:field="*{password}" class="form-control"  placeholder="Enter password"/>
                            <p th:if="${!login.getValidStatus()}" style="color: red;"> Wrong username or password.</p>
                        </div>
                        <div class="login-box checkbox">
                            <input type="checkbox"/>
                            Remember me
                        </div>

                        <td><button class="login-button"  type="submit">SUBMIT</button></td>
                    </form>
                </div>
                <p>Don't have an account?  <a th:href="@{/register}">Join Here.</a></p>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT US -->
<section id="about" class="about_us">
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">The True Lords of Catan</h3>
        <div class="row">
            <div class="col-sm-4  center">
                <p>Billy</p>
                <img th:src="@{/images/Dale1.jpg}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="400" height="400"/>
            </div>
            <div class="col-sm-4 center-block">
                <p>Dale</p>
                <img th:src="@{/images/Hae1.jpg}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="400" height="400"/>
            </div>
            <div class="col-sm-4">
                <p>George</p>
                <img th:src="@{/images/Bill.jpg}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="400" height="400"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2 center">
                <p>Hae Chan</p>
                <img th:src="@{/images/bird2.jpg}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="400" height="400"/>
            </div>
            <div class="col-sm-4 center-block">
                <p>Ming</p>
                <img th:src="@{/images/Ming.jpg}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="400" height="400"/>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>&copy; 2017 <a target="_blank" href="https://github.com/invalidsword/settlers">Lords of Catan</a> | All rights reserved
    </p>
</footer>



</body>
</html>



