<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danklers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|IM+Fell+Double+Pica|IM+Fell+English+SC|Quintessential" rel="stylesheet"/>

</head>

<body>
<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Lords of Catan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/}">LOGIN</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- REGISTER-->
<section class="register">
    <div class="container-fluid bg-2 text-center" style="padding-top: 150px;">
        <div class="row">
            <div class="login-box col-xs-2 col-xs-offset-5">
                <div class="panel-body  text-center" >
                    <h3>SIGN UP</h3>


                    <!--/*@thymesVar id="register" type="com.example.forms.Register"*/-->
                    <form action="#" th:action="@{/register}" th:object="${register}" method="post">
                        <div class="form-group">
                            <input type="text" th:field="*{username}" class="form-control"  placeholder="Enter username"/>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Title error message</p>
                        </div>

                        <div class="form-group">
                            <input type="password" th:field="*{password}" class="form-control"  placeholder="Enter password"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Title error message</p>
                        </div>

                        <div class="form-group">
                            <input type="password" th:field="*{confirm}" class="form-control"  placeholder="Confirm password"/>
                            <p th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">Title error message</p>
                        </div>
                        <td><button class="login-button " type="submit">SUBMIT</button></td>
                    </form>
                </div>
                <p>Already have an account? <a th:href="@{/}">Sign in</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>&copy; 2017 <a target="_blank" href="https://github.com/invalidsword/settlers">Lords of Catan</a> | All rights reserved
    </p>
</footer>



</body>
</html>