<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danklers of Catan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|IM+Fell+Double+Pica|IM+Fell+English+SC|Quintessential" rel="stylesheet"/>

</head>

<body>
<!-- NAVBAR -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Lords of Catan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">JOIN</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- LOGIN -->
<section class="login">
    <div class="container-fluid bg-2 text-center">
        <div class="row">
            <div class="login-box col-xs-2 col-xs-offset-5">
                <div class="panel-body  text-center" >
                    <h3>LOGIN</h3>
                    
                    
                    <!--/*@thymesVar id="login" type="com.example.forms.Login"*/-->
                    <form action="#" th:action="@{/register}" th:object="${login}" method="post">
                        <div class="form-group">
                            <input type="text" th:field="*{username}" class="form-control"  placeholder="Enter email"/>

                        </div>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Title error message</p>
                        <div class="form-group">
                            <input type="text" th:field="*{password}" class="form-control"  placeholder="Enter password"/>

                        </div>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Title error message</p>
                        <td><button type="submit">Submit post</button></td>
                    </form>
                </div>
                <p>Don't have an account?  <a>Join Here.</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>&copy; 2017 <a target="_blank" href="https://github.com/invalidsword/settlers">Lords of Catan</a> | All rights reserved
    </p>
</footer>



</body>
</html>